---
import TechIcon from "./TechIcon.astro";
import GameLink from "./GameLink.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  game: CollectionEntry<"games">;
}

const { game } = Astro.props;

// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
// TODO find a way to dynamically import based on the provided game.data.icon
import {
  faSnowflake,
  faPhoneSlash,
  faMask,
  faPaw,
  faHourglassHalf,
  faUserSecret,
  faCubes,
} from "@fortawesome/free-solid-svg-icons";

library.add(
  faSnowflake,
  faPhoneSlash,
  faMask,
  faPaw,
  faHourglassHalf,
  faUserSecret,
  faCubes,
);

const gameIcon = icon({ prefix: "fas", iconName: game.data.icon });

// License badge
import { makeBadge } from "badge-maker";
const badgeFormat = {
  label: "license",
  message: "MIT",
  labelColor: "#494d64",
  color: "#91d7e3",
};
const licenseBadge = makeBadge(badgeFormat);
---

<div class="col">
  <div class="card shadow-sm h-100 p-2">
    <div class="card-header d-flex justify-content-between">
      <h3>
        <Fragment set:html={gameIcon.html} />
        <span>{game.data.title}</span>
      </h3>
      {game.data.badge ? <Fragment set:html={licenseBadge} /> : null}
    </div>

    <div class="card-body">
      <div class="card-text">
        {game.data.body.map((gameBody) => <p>{gameBody}</p>)}
        <div>
          {game.data.tech.map((tech) => <TechIcon tech={tech} />)}
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      {game.data.links.map((link) => <GameLink link={link} />)}
    </ul>
  </div>
</div>
