---
import TechIcon from "./TechIcon.astro";
import GameLink from "./GameLink.astro";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  game: CollectionEntry<"games">;
}

const { game } = Astro.props;

// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
// TODO find a way to dynamically import based on the provided game.data.icon
import {
  faSnowflake,
  faPhoneSlash,
  faMask,
  faPaw,
  faHourglassHalf,
  faUserSecret,
  faCubes,
} from "@fortawesome/free-solid-svg-icons";

library.add(
  faSnowflake,
  faPhoneSlash,
  faMask,
  faPaw,
  faHourglassHalf,
  faUserSecret,
  faCubes,
);

const gameIcon = icon({ prefix: "fas", iconName: game.data.icon });
---

<div class="col mb-5">
  <div class="card shadow-sm h-100 p-2">
    <div class="card-header d-flex justify-content-between">
      <h3>
        <Fragment set:html={gameIcon.html} />
        {game.data.title}
      </h3>
      {
        game.data.badge ? (
          <Image
            src="https://img.shields.io/badge/license-MIT-91d7e3?labelColor=494d64"
            alt="MIT License"
            loading="eager"
            width="78"
            height="20"
          />
        ) : null
      }
    </div>

    <div class="card-body">
      <div class="card-text">
        {game.data.body.map((gameBody) => <p>{gameBody}</p>)}
        <div>
          {game.data.tech.map((tech) => <TechIcon tech={tech} />)}
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      {game.data.links.map((link) => <GameLink link={link} />)}
    </ul>
  </div>
</div>
