---
import "@fontsource/atkinson-hyperlegible";
import "@fontsource/atkinson-hyperlegible/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const description = "Software engineer in the Los Angeles area";
---

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#cad3f5" />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <meta name="theme-color" content="#24273a" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:site_name" content="Loic Vourch" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://loic.vour.ch" />

    <meta property="og:image" content="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  .svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
  }
</style>
